@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #8C52FF;
    align-items: center;
    padding: 60px;
    padding-top: 90px;
    padding-bottom: 90px;
}
#titulo{
    font-size: 60px;
    text-align: center;
    color: #202023;
    font-family: 'League Spartan', sans-serif;
}
#img2{
    margin: 0;
    width: 400px;
}
.sec1{
    display: flex;
    justify-content: center;
    background-color: #202023;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
#bauxita{
    color: #BF997E;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
}
p {
    color: #BBBBBB;
    font-size: 20px;
    text-align: center;
}
#p3{
    color: #CFCECE;
    font-family: 'League Spartan', sans-serif;
}
.text{
    text-align: center;
    margin-left: 70px;
}
.sec2{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
#texto-descarregador{
    color: #202020; 
    padding: 30px; 
    font-size: 25px;
}
#descarr{
    color: #8C52FF;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
}
.sec3{
    background-color: #8C52FF;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding: 90px 90px;
}
#section2{
    margin-left: 10rem;
    margin-right: 10rem;
}
#et1{
    margin-left: 30px;
    width: 641px;
    height: 79px;
    left: 74px;
    top: 110px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 79px;
    color: #000000;
}
#etapa1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 90px;
}
#texto-etapa1{
    text-align: left;
    margin-left:25px;
    color: #E6E6E6;
    font-size: 26px;
}
#et2{
    margin-left: 30px;
    width: 713px;
    height: 79px;
    left: 74px;
    top: 110px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 79px;
    color: #8C52FF;
}
#sec4{
    background-color: #202023;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding: 90px 90px;
}
#textos-et-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 90px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}