@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
#t1{
    padding: 15rem;
    text-align: center;
    color: #202023;
    font-family: 'League Spartan', sans-serif;
}
#img1{
    width: 500px;
}
